#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.decks{
  display: grid;
  width:500px;
  margin:0 auto;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;

}
.decks li{
  display: flex;
  width:80%;
  color:white;
  height:120px;
 
  border-radius: 20px;
  padding:5px;
  background-color: rgb(56, 6, 77);
  justify-content: center;
  align-items: center;
  border-color: none;
  box-shadow: 3px 5px 5px gray;
 
}

.App form{
  display: flex;
  gap:10px;
  margin-top: 30px;
}
.decks li:hover{
  background-color: rgb(38, 2, 75);
}